In [1]:
import numpy as np

Имеется матрица покупок в интернет-магазине. Столбец А - ID пользователя. Остальные столбцы - количество покупок категорий товаров этим пользователем:
столбцы - товары
строки - пользователи - покупатели

In [2]:
users_stats = np.array(
    [
        [2, 1, 0, 0, 0, 0],
        [1, 1, 2, 1, 0, 0],
        [2, 0, 1, 0, 0, 0],
        [1, 1, 2, 1, 0, 1],
        [0, 0, 1, 2, 0, 0],
        [0, 0, 0, 0, 0, 5],
        [1, 0, 0, 0, 0, 0],
        [0, 1, 1, 0, 0, 0],
        [0, 0, 0, 1, 1, 3],
        [1, 0, 0, 2, 1, 4]
    ], 
    np.int32
)

На сайт заходит очередной посетитель, о покупках которого известно следующее:

In [7]:
next_user_stats = np.array([0, 1, 2, 0, 0, 0])

In [13]:
def cos_diff(user_1,user_2):
    user_1_norm = np.linalg.norm(user_1)
    user_2_norm = np.linalg.norm(user_2)
    users_dot = user_1.dot(user_2)
    cosine = users_dot / (user_1_norm * user_2_norm)
    
    return cosine

In [14]:
users_stats[0].shape

(6,)

In [15]:
next_user_stats.shape

(6,)

In [16]:
for i in users_stats:
    print(cos_diff(next_user_stats, i))

0.19999999999999996
0.8451542547285165
0.3999999999999999
0.7905694150420948
0.3999999999999999
0.0
0.0
0.9486832980505138
0.0
0.0

Из файла hw_25000.csv (использовали на занятии) возьмите 20 человек ростом от 170 до 180 сантиметров (назовём это выборкой из набора данных №2). 
Можно ли утверждать, что разница среднего веса людей в исходном файле hw_25000.csv и среднего веса людей во всем наборе данных №2 статистически значима?

In [27]:
import pandas as pd
from scipy import stats

In [19]:
df_general = pd.read_csv("Resources/hw_25000.csv")

In [20]:
df_general.head()

   Index   "Height(Inches)"   "Weight(Pounds)"
0      1           65.78331           112.9925
1      2           71.51521           136.4873
2      3           69.39874           153.0269
3      4           68.21660           142.3354
4      5           67.78781           144.2971

In [22]:
df_general.columns

Index(['Index', ' "Height(Inches)"', ' "Weight(Pounds)"'], dtype='object')

In [24]:
df_sample = df_general.head()[' "Height(Inches)"'].tolist()

In [25]:
df_general_mean = df_general_mean[' "Height(Inches)"'].mean()

In [28]:
stats.ttest_1samp(df_sample,df_general_mean)

Ttest_1sampResult(statistic=0.5790931143984582, pvalue=0.5935727093136418)